@import "_mixins.scss";

.page-container {
    font-size: 12pt;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    overflow: hidden;

    .padding-left {
        padding-left: 20px;
    }

    .text-padding {
        padding: 1em;
    }

    .text-bold {
        font-weight: bold;
    }

    .text-center {
        text-align: center;
    }
    
    .page-title {
        padding-top: 25px;
        padding-bottom: 15px;
    }
    
    .page-sub-title {
          display: block;
          margin: 0;
          font-weight: 300;
          color: rgb(150, 150, 150);
          font-size: 20px;
    }
}