<section class="page-container action-page">
   
    <div class="container">
   
        <header>
            <h2 class="page-title">Partnerships Overview</h2>
        </header>
        
        <div class="row intro-content">
            <p>Some stuff to add here so there will be a lot of text Some stuff to add here so there will be a lot of text Some stuff to add here so there will be a lot of text Some stuff to add here so there will be a lot of text Some stuff to add here so there will be a lot of text Some stuff to add here so there will be a lot of text Some stuff to add here so there will be a lot of text Some stuff to add here so there will be a lot of text Some stuff to add here so there will be a lot of text </p>
        </div>
        
        <div class="row global-donate">
            <div class="col-md-3">
                <img src="../images/global.png">
                <h2 class="text-center">Global</h2>
            </div>
            <div class="col-md-9">
                <p>Some stuff to add here so there will be a lot of text Some stuff to add here so there will be a lot of text Some stuff to add here so there will be a lot of text Some stuff to add here so there will be a lot of text Some stuff to add here so there will be a lot of text </p>
            </div>
        </div>
        
        <div class="row city-list">
            
            <div class="col-md-2">
                <img src="../images/austin.png">
                <a href="#/austin" class="cities">Austin</a>
            </div>
            
            <div class="col-md-2">
                <img src="../images/boston.png">
                <a href="#boston" class="cities">Boston</a>
            </div>
            
            <div class="col-md-2">
                <img src="../images/austin.png">
                <a href="#/austin" class="cities">Dallas</a>
            </div>
            
            <div class="col-md-2">
                <img src="../images/DC.png">
                <a href="#/austin" class="cities">DC</a>
            </div>
            
            <div class="col-md-2">
                <img src="../images/illinois.png">
                <a href="#/austin" class="cities">Chicago</a>
            </div>
            
        </div>
        
        <div class="col-lg-10 padding-left">
           
            <div>We seek your urgent and important support:</div>
            <ol>
                <li>Donate to Nepal Rising via paypal. Become a sustaining donor by committing to monthly donations</li>
                <li>Be a part of the city-based fundraising and community-building efforts</li>
                <li>Share knowledge, ideas and other resources that will strengthen this global campaign</li>
            </ol>
            <div>&nbsp;</div>
            
            <div>To donate please choose a location below.</div>
            
            <div>&nbsp;</div>

            <div class="city-list">

              <!--  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display: inline-block;float: left;margin-right: 10px;">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="EZMBNEU57KZCE">
                    <button type="submit" class="btn btn-lg donate-button">Chicago</button>
                </form>

               
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display: inline-block;float: left;margin-right: 10px;">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="MQKZ4U5X37BUQ">
                    <button type="submit" class="btn btn-lg donate-button">Global</button>
                </form>

                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display: inline-block;float: left;margin-right: 10px;">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="AXABKMG88G5SQ">
                    <button type="submit" class="btn btn-lg donate-button">Dallas</button>
                </form>

                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display: inline-block;float: left;margin-right: 10px;">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="UWYJDLXRKU94L">
                    <button type="submit" class="btn btn-lg donate-button">DC</button>
                </form>-->

            </div>

            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            
            <div>If you would like to organize fund-raising campaign in your city, please contact us.</div>
        </div>
    
    </div>
    
</section>