<section class="page-container action-page">
   
    <div class="container">
   
        <header class="row">
            <h1 class="page-title">Partnerships Overview</h1>
        </header>
        
        <div class="row intro-content">
            <p>Under one umbrella of the Nepal Rising Campaign, the global partners in and outside of the United States come together with a common vision of a resilient Nepal. These local efforts contribute to the strategic goals of Nepal Rising through increasing local support to build resilient communities in Nepal for a sustainable future. Our partners currently include city-based teams in Austin, Dallas, Boston, Chicago, DC, and Nepal. We invite you to engage your community in this global movement for relief, rebuilding, and resiliency!</p>
        </div>
        
        <div class="row global-donate">
            <div class="col-md-3">
                <img src="../images/global.png">
                <a href="#/home" class="cities-button-large">Global</a>
            </div>
            <div class="col-md-9">
                <p>We seek your urgent and important support:

Donate to Nepal Rising via paypal. Become a sustaining donor by committing to monthly donations
Be a part of the city-based fundraising and community-building efforts
Share knowledge, ideas and other resources that will strengthen this global campaign. </p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="city-donate-form-left">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="MQKZ4U5X37BUQ">
                    <button type="submit" class="btn btn-lg donate-button-small"></button>
                </form>
            </div>
        </div>
        
        <div class="row city-list">
            
            <div class="col-md-2">
                <img src="../images/austin.png">
                <a href="#/austin" class="cities-button">Austin</a>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="city-donate-form-subheader">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="5VDVZTMZBH9RQ">
                    <button type="submit" class="btn btn-lg donate-button-subheader"></button>
                </form>
            </div>
            
            <div class="col-md-2">
                <img src="../images/boston.png">
                <a href="#boston" class="cities-button">Boston</a>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="city-donate-form-subheader">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="YR7CL625H7R9L">
                    <button type="submit" class="btn btn-lg donate-button-subheader"></button>
                </form>
            </div>
            
            <div class="col-md-2">
                <img src="../images/austin.png">
                <a href="#/dallas" class="cities-button">Dallas</a>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="city-donate-form-subheader">
                <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="AXABKMG88G5SQ">
                    <button type="submit" class="btn btn-lg donate-button-subheader"></button>
                </form>
            </div>
            
            <div class="col-md-2">
                <img src="../images/DC.png">
                <a href="#/dc" class="cities-button">DC</a>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="city-donate-form-subheader">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="UWYJDLXRKU94L">
                    <button type="submit" class="btn btn-lg donate-button-subheader"></button>
                </form>
            </div>
            
            <div class="col-md-2">
                <img src="../images/illinois.png">
                <a href="#/chicago" class="cities-button">Chicago</a>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="city-donate-form-subheader">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="EZMBNEU57KZCE">
                    <button type="submit" class="btn btn-lg donate-button-subheader"></button>
                </form>
            </div>
            
        </div>
        
        <div class="total-funds row">
           
            <h2 class="page-title">Total Donations Collected</h2>
            
            <div class="progressbar">
                <div class="progress"></div>
            </div>
            
            <p class="total">$6472.43</p>
            <small class="total-last-logged">As of 03.05.2015 7:42pm CST</small>
            
        </div>
        
        <!--<div class="col-lg-10 padding-left">-->
           
            <!--<div>We seek your urgent and important support:</div>
            <ol>
                <li>Donate to Nepal Rising via paypal. Become a sustaining donor by committing to monthly donations</li>
                <li>Be a part of the city-based fundraising and community-building efforts</li>
                <li>Share knowledge, ideas and other resources that will strengthen this global campaign</li>
            </ol>
            <div>&nbsp;</div>
            
            <div>To donate please choose a location below.</div>
            
            <div>&nbsp;</div>

            <div class="city-list">-->

              <!--  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display: inline-block;float: left;margin-right: 10px;">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="EZMBNEU57KZCE">
                    <button type="submit" class="btn btn-lg donate-button">Chicago</button>
                </form>

               
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display: inline-block;float: left;margin-right: 10px;">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="MQKZ4U5X37BUQ">
                    <button type="submit" class="btn btn-lg donate-button">Global</button>
                </form>

                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display: inline-block;float: left;margin-right: 10px;">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="AXABKMG88G5SQ">
                    <button type="submit" class="btn btn-lg donate-button">Dallas</button>
                </form>

                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display: inline-block;float: left;margin-right: 10px;">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="UWYJDLXRKU94L">
                    <button type="submit" class="btn btn-lg donate-button">DC</button>
                </form>-->
<!--
            </div>

            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            
            <div>If you would like to organize fund-raising campaign in your city, please contact us.</div>-->
        </div>
    
    </div>
    
</section>