<section class="page-container action-page">
    <header>
        <h3 class="text-center">Call to Action</h3>
    </header>
    <div>&nbsp;</div>
    <div class="col-lg-10 padding-left">
        <div>We seek your urgent and important support:</div>
        <ol>
            <li>Donate to Nepal Rising via paypal. Become a sustaining donor by committing to monthly donations</li>
            <li>Be a part of the city-based fundraising and community-building efforts</li>
            <li>Share knowledge, ideas and other resources that will strengthen this global campaign</li>
        </ol>
        <div>&nbsp;</div>
        <div>To donate please choose a location below.</div>
        <div>&nbsp;</div>
        <div>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" style="display: inline-block;float: left;margin-right: 10px;">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="YR7CL625H7R9L">
                <button type="submit" class="btn btn-lg donate-button">Boston</button>
            </form>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display: inline-block;float: left;margin-right: 10px;">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="EZMBNEU57KZCE">
                <button type="submit" class="btn btn-lg donate-button">Chicago</button>
            </form>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display: inline-block;float: left;margin-right: 10px;">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="MQKZ4U5X37BUQ">
                <button type="submit" class="btn btn-lg donate-button">Global</button>
            </form>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display: inline-block;float: left;margin-right: 10px;">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="AXABKMG88G5SQ">
                <button type="submit" class="btn btn-lg donate-button">Dallas</button>
            </form>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display: inline-block;float: left;margin-right: 10px;">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="UWYJDLXRKU94L">
                <button type="submit" class="btn btn-lg donate-button">DC</button>
            </form>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
        <div>If you would like to organize fund-raising campaign in your city, please contact us.</div>
    </div>
</section>