<section class="page-container campaign-page">
    <div>&nbsp;</div>
    <div>
        <div class="text-center text-bold">
            WHY THIS GLOBAL CAMPAIGN?
        </div>
        <div class="text-center">
            Nepal is in utter shock and pain from the disastrous 7.9-magnitude earthquake of April 25, 2015. The death toll has surpassed 4,000. Many precious historical monuments have been destroyed. The earthquake has caused deadly avalanches on Everest with multiple casualties. It has swept away entire villages in some cases. The supply of food and water, clothing, shelter and medications is already becoming a critical issue in the relief efforts. As the tremors continue, survivors resort to sleeping in tents, cars, other makeshift shelters and open skies. In the months to come, there will also be immense need for healing and rebuilding efforts.
        </div>
        <div class="text-center">
            Amid these challenges, hope lives in the resilience of the Nepali people to rise from the rubble, stronger and united to rebuild their nation together. Hope also lives in the warm affection of all friends of Nepal around the world who are already coming together to support critical disaster relief and recovery efforts in Nepal.
        </div>
        <div class="text-center">
            Nepal Rising campaign envisions a resilient Nepal where the citizens will embrace hope and responsibility and come together to rise from the current adversity for a thriving future.
        </div>
    </div>
    <div>&nbsp;</div>
    <div>
        <div class="text-center text-bold">
            HOW WILL THIS CAMPAIGN FUNCTION?
        </div>
        <div class="text-center">
            The campaign’s mission is to organize a global collaborative campaign for relief, rebuilding, and resiliency in Nepal. The campaign will collaborate with Nepal-based and global organizations towards the 3 goals:
        </div>
        <ul>
            <li>Support district-based NGOs for immediate earthquake relief efforts</li>
            <li>Collaborate with community-based and governmental efforts for community rebuilding</li>
            <li>Nurture a global community of supporters for fostering resilient local communities</li>
            <li>The campaign will prioritize distribution of supplies to rural Nepal, where relief efforts are limited. It will collaborate with organizations in Nepal and around the world to identify local NGOs in selected districts for conducting important relief efforts. The NKY Nepal office will liaise with district-based coordinators and pertinent NGOs in channeling collected funds. The campaign will also collaborate with efforts both in and outside of Nepal to foster a community of supporters worldwide with shared values of hope and responsibility of resilient Nepal.</li>
        </ul>
    </div>
</section>