<section class="page-container contact-page">
   
    <div class="container">
   
        <header>
            <h3 class="text-center">Contact Us</h3>
        </header>
        
        <div>
            <div class="text-center">We need your valuable suggestion</div>
            <div class="col-lg-12">&nbsp;</div>
            <div class="col-lg-12 text-center">Contact us at: <a href="mailto:contact@daayitwa.org">contact@daayitwa.org</a></div>
            <div class="col-lg-12">&nbsp;</div>
            <div class="text-padding">Nepal Rising is a collaborative campaign administered by Nepal Ko Yuwa (Daayitwa), a US 501(c)(3) non-profit organization, which is building a movement of young leaders who come together to transform societal challenges into innovative opportunities for a thriving Nepal.</div>
            <div class="col-lg-12">&nbsp;</div>
            <div class="col-lg-6 text-center">Nepal Office</div>
            <div class="col-lg-6 text-center">US Office</div>
            <div class="col-lg-6 text-center">Maitri Marg, Lalitpur 44600, Nepal G.P.O. 8975, E.P.C: 1098</div>
            <div class="col-lg-6 text-center">511 Aurora Ave, Unit #314, Naperville, IL 60540</div>
            <div class="col-lg-6 text-center">Tel: +977 1-5528059, 5543957</div>
            <div class="col-lg-6 text-center">Tel: +1 (312) 650-9146</div>
        </div>
        
    </div>
    
</section>