<section class="page-container contact-page">
   
    <div class="container">
   
        <header>
            <h2 class="page-title">Contact Us</h2>
        </header>
        
        <div class="contact-information row">
            <div class="col-md-6">
                <span class="flag-title"><img src="../images/United-States%2032.png" /></span>
                <p>511 Aurora Ave #314</p>
                <p>Naperville, IL 60540</p>
                <p>Tel: +1 (312) 650-9146</p>
            </div>
            <div class="col-md-6">
                <span class="flag-title"><img src="../images/Nepal%2032.png" /></span>
                <p>Maitri Marg, Lalitpur 44600</p>
                <p>Nepal G.P.O. 8975, E.P.C: 1098</p>
                <p>Tel: +977 1-5528059, 5543957</p>
            </div>
        </div>
        
        <div class="col-md-12 underline"></div>
        
        <div class="contact-email">
            <span class="mail-icon"><img src="../images/mail.png" /></span><a class="contact-email" href="mailto:contact@daayitwa.org">contact@daayitwa.org</a>
        </div>
        
        <div>
            <p class="small-detail-text">Nepal Rising is a collaborative campaign administered by Nepal Ko Yuwa (Daayitwa), a US 501(c)(3) non-profit organization, which is building a movement of young leaders who come together to transform societal challenges into innovative opportunities for a thriving Nepal.</p>
        </div>
        
    </div>
    
</section>