<section class="page-container home-page">
   
   <div class="container home">
   
       <div class="home-container">
            <img src="../images/nr-500.png" class="nepal-img"/>
            <div class="message">
                <p>A 7.8 magnitude earthquake struck Nepal on April 25, 2015 and more than 80 aftershocks followed after.</p>
                <p class="small">7250 lives are lost (05.03.2015), 14,000 injured and thousands more unaccounted for.</p>
                <p class="small">3.5 million in need of food assistance. 130,033 houses destroyed </p>
                <p>Even amid the pressing challenges during the aftermath of the earthquake, hope lives in the resilience of the Nepali people to rise from the rubble, stronger and united, to rebuild their nation together. The Nepal Rising campaign is organized with the same passion that we see in the eyes of the earthquake survivors, to build a resilient Nepal through local and global partnerships.</p>
            </div>
            <a href="#/action" class="donate-button"></a>
            <div class="social-media">
                <a href="https://twitter.com/nepal_rising" class="social-link"><i class="fa fa-twitter-square"></i></a>
                <a href="https://www.facebook.com/TheNepalRising" class="social-link"><i class="fa fa-facebook-square"></i></a>
            </div>
            <small>Image copyright New York Times</small>
       </div>
       
    </div>
</section>

<div class="home-page-cover"></div>