<section class="page-container home-page">
    <div class="centered-hover-message">
        <div class="message-text">
            A 7.9 magnitude earthquake struck Nepal on April 25 2015. More than 5000 lives are lost. More than 10000 are injured. Amid the pressing challenges during the aftermath, hope lives in the resilience of the Nepali people to rise from the rubble, stronger and united, to rebuild their nation together.
        </div>
    </div>
</section>
<div class="home-page-cover"></div>