<section class="page-container action-page">
  
    <div class="container">
   
        <header>
            <div class="city-header-container">
                <h1 class="city-header">Dallas</h1>
                <h3 class="city-subheader">For relief, rebuilding, resilience</h3>
            </div>
        </header>

        <div class="col-md-12 city-mission">
            <h1>The Dallas Nepal Rising Team is an  enthusiastic group of professionals, students, and individuals coming together to join forces with the larger vision of Nepal Rising, a global collaborative capaign for relief, rebuilding, and resileincy in Nepal in the aftermath of the devastating earthquake. The local efforts in Dallas will contribute to the strategic goals of Nepal Rising  through increasing local support to build resilient communities in Nepal.</h1>
        </div>

        <div class="city-content">

            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="city-donate-form">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="AXABKMG88G5SQ">
                <button type="submit" class="btn btn-lg donate-button"></button>
            </form>
            
            <h2 class="page-title-city text-center">Who are we?</h2>
            <span class="page-sub-title text-center">Meet the Dallas team</span>
            
            <div class="city-members">
                
                <div class="row">

                    <div class="col-md-3">
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="../../images/avatar.png">
                            </a>
                          </div>
                          <div class="media-body">
                            <p class="media-detail">Karki Suman </p>
                            <p class="media-detail">sumankarki2004@gmail.com</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="../../images/avatar.png">
                            </a>
                          </div>
                          <div class="media-body">
                            <p class="media-detail">Khanal Bonas</p>
                            <p class="media-detail">bonas.khanal@gamail.comm</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="../../images/avatar.png">
                            </a>
                          </div>
                          <div class="media-body">
                            <p class="media-detail">Koirala Deepak</p>
                            <p class="media-detail">koiraladipak@gmail.com</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="../../images/avatar.png">
                            </a>
                          </div>
                          <div class="media-body">
                            <p class="media-detail">Pokharel Kushal</p>
                            <p class="media-detail">kushalpkharel@gmail.com</p>
                          </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="../../images/avatar.png">
                            </a>
                          </div>
                          <div class="media-body">
                            <p class="media-detail">Prasai Anjila </p>
                            <p class="media-detail">prasai.anjila@gmail.com</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="../../images/avatar.png">
                            </a>
                          </div>
                          <div class="media-body">
                            <p class="media-detail">Maleku Arati</p>
                            <p class="media-detail">arati.maleku@gmail.com</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="../../images/avatar.png">
                            </a>
                          </div>
                          <div class="media-body">
                            <p class="media-detail">Rajbhandari Zubin</p>
                            <p class="media-detail">zubin.rajbhandari@gmail.com</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="../../images/avatar.png">
                            </a>
                          </div>
                          <div class="media-body">
                            <p class="media-detail">Sharma Bonita</p>
                            <p class="media-detail">sharmabonita7@gmail.com</p>
                          </div>
                        </div>
                    </div>
                
                </div>
                
            </div>
            
            <h2 class="page-title-city text-center">What is Dalllas doing?</h2>
            
            <ul class="city-actions">
                <li>Fundraising and Coordination in Dallas - Nepali Student Association (NSA) at the University of Texas at Arlington held a three day fundraiser on campus premises (April 29-May 1). NSA held a candle light vigil event on April 30 at UTA premises
</li>
                <li>Outreach in the DFW area and beyond - Our team member, Arati Maleku, met with a journalist who is covering Nepal Rising and the efforts in a highly circulated newspaper targeted to Korean population. She also presented our efforts to high school students in South Hills High School, Fort Worth on May 1, 2015. Several othr media relations have been made with local channels in an effort to continue to highlight earthquake relief agenda in the DFW metroplex. </li>
                <li>Coordination of efforts in Nepal and Dallas - Our team members are continuing to coordinate relief efforts, identify resources, and form relief team networks in four focus districts of Dolakha, Nuwakot, Ramechap and Rasuwa. We are also identifying and building relationships with local philathropists, NGOs, community members and other stakeholders through our relief teams on the field in an effort to implement rebuilding efforts for a resilient community in the months and years to come. </li>
            </ul>
            
            
        </div>
    
    </div>

</section>