.campaign-page {
    margin-top: 52px;
    text-align: left;
}

.small-detail {
    color: gray;
    font-size: 13px;
    text-align: center;
}

.campaign-image {
    max-width: 800px;
}

.line-title {
    border-top: 1px solid $primary-color;
}

.space {
    padding-bottom: 30px;
}